---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://api.hellosign.com/v3/signature_request/6d7ad140141a7fe6874fec55931c363e0301c353
    method: GET
  response:
    body: '{"signature_request":{"signature_request_id":"6d7ad140141a7fe6874fec55931c363e0301c353","test_mode":true,"title":"cool
      title","original_title":"awesome","subject":"awesome","message":"cool message
      bro","metadata":{"no":"cats","more":"dogs"},"is_complete":false,"is_declined":false,"has_error":false,"custom_fields":[{"name":"display
      name","type":"text","required":true,"api_id":"api_id","editor":null,"value":null},{"name":"display
      name 2","type":"text","required":true,"api_id":"api_id_2","editor":null,"value":null}],"response_data":[],"signing_url":null,"signing_redirect_url":null,"final_copy_uri":"\/v3\/signature_request\/final_copy\/6d7ad140141a7fe6874fec55931c363e0301c353","files_url":"https:\/\/api.hellosign.com\/v3\/signature_request\/files\/6d7ad140141a7fe6874fec55931c363e0301c353","details_url":"https:\/\/app.hellosign.com\/home\/manage?guid=6d7ad140141a7fe6874fec55931c363e0301c353","requester_email_address":"joeheth@gmail.com","signatures":[{"signature_id":"5bac8d9534194cc4dba0ed2f87ded7f5","has_pin":false,"signer_email_address":"freddy@hellosign.com","signer_name":"Freddy
      Rangel","order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null,"error":null},{"signature_id":"c01212e447df08c12b5c8e6933c6f61d","has_pin":false,"signer_email_address":"frederick.rangel@gmail.com","signer_name":"Frederick
      Rangel","order":null,"status_code":"awaiting_signature","signed_at":null,"last_viewed_at":null,"last_reminded_at":null,"error":null}],"cc_email_addresses":["no@cats.com","no@dogs.com"]}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "2000"
      X-Ratelimit-Limit-Remaining:
      - "1999"
      X-Ratelimit-Reset:
      - "1505245211"
    status: 200 OK
    code: 200
